ALLOW_OVERWRITE=on
ANONYMOUS_DISABLE=off
ANON_UPLOAD_ENABLE=DenyAll
FTPUSER_PASSWORD_SECRET=ftp-user-password-secret
FTPUSER_NAME=ftpuser
FTPUSER_UID=1001
LOCAL_UMASK=022
MAX_CLIENTS=10
MAX_INSTANCES=30
PASV_ADDRESS=
PASV_MAX_PORT=50100
PASV_MIN_PORT=50091
SERVER_NAME=ProFTPD
TIMES_GMT=off
TZ=UTC
WRITE_ENABLE=AllowAll
